.new-info-bar-header{
    background-color: #fbda04;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 11px 16px 10px 16px;
    font-weight: 700;
    font-size: 0.625rem;
}
.new-info-bar{
    margin: 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #f5f8fc;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.new-info-bar-text{
    padding: 8px 16px;
    font-size: 0.938rem;
    font-weight: 600;
}
.main-1-top-container{
    background-image: url(../assets/daatgal.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 400px;
    width: 1350px;
    position: relative;
}
.main-1-top-text-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: rgb(238, 238, 238) solid 2px;
    border-top: none;
    padding: 23px 45px 16px 19px;
    gap: 10px;
    position: absolute;
    top: 99%;
    border-radius: 0 0 5px 5px;
}
.main-1-top-header{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    word-break: break-word;
}
.main-1-top-side-container{
    display: flex;
    flex-direction: column;
    border: 2px rgb(238, 238, 238) solid;
    justify-content: space-between;
    border-radius: 7px;
}
.main-1-top-side-container div{
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    align-items: start;
    border-bottom:  1px rgb(238, 238, 238) solid;;
}
.main-1-top{
    display: flex;
    gap: 15px;
}
.main-1-mid{
    display: flex;
    gap: 15px;
}
.main-1-mid-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    width: 345px;

    top: 75%;
    left: 5%;
}
.main-1-mid-wrapper span{
    display: inline;
}
.main-1-mid-interview{
    font-size: 1.188rem;
    font-weight: 700;
}
.main-1-scroll{
    height: 310px;
    width: 335px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 18px 30px 18px 30px;
    scrollbar-color: orange black;
    scrollbar-width: thin;
    border-radius: 0 0 8px 8px;
}
.main-1-scroll div{
    display: flex;
    flex-direction: column;
    padding: 13px 0;
    border-top: 1px solid hsla(0, 0%, 89%, .314);
}
.mid-1-scroll-timedata{
    color: #a3a3a3;
    font-size: 0.75rem;
}
.mid-1-scroll-tweet{
    color: white;
    font-size: 0.9375rem;
    font-weight: 700;
}

.scroll-title{
    display: flex;
    background-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 15px 5px 5px 30px;
}
.mid-low-banner{
    background: url(../assets/subscribe-cover.png);
    box-sizing: border-box;
    width: 1170px;
    height: 320px;
    opacity: 1;
    z-index: 0;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    border-radius: 10px;
}
.blue{
    background-color: blue;
    width: inherit;
    height: inherit;
    opacity: 0.5;
}
.mid-low-sub{
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 8%;
    left: 3%;
    height: 270px;
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.sub-submit-btn{
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 0px;
    background-color: rgb(0, 64, 212);
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0px 6px 6px 0px;
    padding: 1rem;
    display: inline;
}
.sub-submit-inp{
    padding: 1rem;
    width: 250px;
    border: 2px solid rgb(0, 64, 212);
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.9;
}
.bosslady{
    height: 380px;
    width: 380px;
    background: url(../assets/Lemon-press-representative.webp) no-repeat;
    background-size: cover;
    background-position: 50%;
    position: absolute;
    object-fit: cover;
    border: 8px;
}
.bosslady-wrapper{
    height: 385px;
    width: 460px;
}

.main-2-top{
    display: flex;
}
.main-2-top-articles{
    display: flex;
    flex-direction: column;
}
.main-2-top-article{
    display: flex;
    border: 1px solid #efefef;
    border-radius: 8px;
    margin: 11px 0;
}
.main-2-top-metadata{
    display: flex;
    flex-direction: column;
    padding: 13px 18px 13px 21px;
    object-fit: cover;
    gap: 5px;
}
.main-2-top-info{
    line-height: 1.4;
    font-size: 1.063rem;
    font-weight: 700;
    
}
.main-2-top-img{
    border-radius: 8px 0 0 8px;
}
.main-2-top-more{
    background-color: #f5f8fc;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads{
    margin-left: 15px;
    z-index: 900;
}
.sticky-ads {
    position: sticky;
    top: 100px !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ad-1{
    background: url(../assets/ad-1.webp) no-repeat;
}
.ad-2{
    background: url(../assets/ad-2.webp) no-repeat;
}
.ad{
    background-size: cover;
    background-position: 50%;
    height: 256px;
    width: 380px;
}